{% extends 'base.html' %}
{% load static %}
{% load range_filter %}
{% block content %}

    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/16.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcrumb-content d-flex align-items-center justify-content-between pb-5">
                        <h2 class="room-title">{{ object.name }}</h2>
                        <h2 class="room-price">${{ object.price }} <span>/ Per Night</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-rooms-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">

                    <div class="single-room-details-area mb-50">

                        <div class="room-thumbnail-slides mb-50">
                            <div id="room-thumbnail--slide" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <img src="{{ object.roomimage_set.first.image.url }}" class="d-block w-100"
                                             alt="">
                                    </div>

                                </div>
                                <ol class="carousel-indicators">
                                    {% for img in object.roomimage_set.all %}

                                        <li data-target="#room-thumbnail--slide" data-slide-to="{{ forloop.counter0 }}"
                                            class="{% if forloop.counter0 == 0 %}active{% endif %}">
                                            <img src="{{ img.image.url }}" class="d-block w-100" alt="">
                                        </li>

                                    {% endfor %}

                                </ol>
                            </div>
                        </div>

                        <div class="room-features-area d-flex flex-wrap mb-50">
                            <h6>Size: <span>{{ object.size }}</span></h6>
                            <h6>Capacity: <span>Max persion {{ object.capacity }}</span></h6>
                            <h6>Bed: <span>King beds</span></h6>
                            <h6>Services: <span>{% for i in object.services.all %}{{ i.name }}, {% endfor %}</span></h6>
                        </div>

                        {{ object.description|safe }}

                    </div>

                    <div class="room-service mb-50">
                        <h4>Room Services</h4>
                        <ul>
                            {% for foo in object.services.all %}
                                <li><img src="{{ foo.image.url }}" alt=""> {{ foo.name }}</li>
                            {% endfor %}


                        </ul>
                    </div>

                    <div class="room-review-area mb-100">
                        <h4>Room Review</h4>
                        {% for review in reviews %}
                            <div class="single-room-review-area d-flex align-items-center">
                                <div class="reviwer-thumbnail">
                                    {% if review.image %}
                                        <img src="{{ review.image.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/bg-img/53.jpg' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="reviwer-content">
                                    <div class="reviwer-title-rating d-flex align-items-center justify-content-between">
                                        <div class="reviwer-title">
                                            <span>{{ review.created_date }}</span>
                                            <h6>{{ review.name }}</h6>
                                        </div>

                                        <div class="reviwer-rating">
                                            {% for i in review.mark|range_filter:"1,1" %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <p>{{ review.message }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-12 col-lg-4">

                    <div class="hotel-reservation--area mb-100">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-30">
                                <label for="name">Name</label>

                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <input type="text" class="input-small form-control" name="name"
                                               id="name" placeholder="Your name" required>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mb-30">
                                <label for="phone">Phone</label>
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <input type="text" class="input-small form-control" name="phone"
                                               id="phone" placeholder="90.000-00-00" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn roberto-btn w-100">Booking</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}