{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/17.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">{{ blog.title }}</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar"
                                                                 aria-hidden="true"></i> {{ blog.created_date|date:"F d, Y" }}
                                </a>
                                {% if blog.author %}
                                    <a href="#" class="post-author"><i class="fa fa-user" aria-hidden="true"></i>
                                        by {{ blog.author }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    <div class="post-thumbnail mb-50">
                        <img src="{{ blog.image.url }}" alt="">
                    </div>

                    <div class="blog-details-text">
                        <p>{{ blog.description|safe }}</p>


                    </div>

                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for tag in blog.tags.all %}
                                <li><a href="">{{ tag.title }},</a></li>
                            {% endfor %}

                        </ul>

                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="comment_area mb-50 clearfix" id="comments">
                        <h2>{{ blog_comments.count }} Comments</h2>
                        <ol>
                            {% for comment in blog_comments %}
                                <li class="single_comment_area">

                                    <div class="comment-content d-flex">
                                        {% if comment.image %}
                                            <div class="comment-author">
                                                <img src="{{ comment.image.url }}" alt="author">
                                            </div>
                                        {% else %}
                                            <div class="comment-author">
                                                <img src="{% static 'img/core-img/user_image.png' %}" alt="author">
                                            </div>
                                        {% endif %}


                                        <div class="comment-meta">
                                            <a href="#" class="post-date">{{ comment.created_date|date:"d F, Y" }}</a>
                                            <h5>{{ comment.name }}</h5>
                                            <p>{{ comment.message|safe }}</p>
                                            <a href="#" class="like">Like</a>
                                            <a href="?parent={{ comment.id }}#comment" class="reply">Reply</a>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        {% for child in comment.children %}
                                            <li class="single_comment_area">

                                                <div class="comment-content d-flex">
                                                    {% if child.image %}
                                                        <div class="comment-author">
                                                            <img src="{{ child.image.url }}" alt="author">
                                                        </div>
                                                    {% else %}
                                                        <div class="comment-author">
                                                            <img src="{% static 'img/core-img/user_image.png' %}"
                                                                 alt="author">
                                                        </div>
                                                    {% endif %}


                                                    <div class="comment-meta">
                                                        <a href="#"
                                                           class="post-date">{{ child.created_date|date:"d F, Y" }}</a>
                                                        <h5>{{ child.name }}</h5>
                                                        <p>{{ child.message }}</p>
                                                        <a href="#" class="like">Like</a>
                                                        <a href="?parent={{ child.id }}#comment" class="reply">Reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </li>

                            {% endfor %}

                            <a href="?all=True#comments" class="reply">All comments >></a>
                        </ol>

                    </div>

                    <div class="roberto-contact-form mt-80 mb-100" id="comment">
                        <h2>Leave A Comment</h2>

                        <form action="#" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    {{ form.name }}
                                </div>
                                <div class="col-12">
                                    {{ form.email }}
                                </div>
                                <div class="col-12">
                                    {{ form.image }}
                                </div>
                                <div class="col-12">
                                    {{ form.message }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>

{% endblock %}