{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Roberto - Hotel &amp; Resort HTML Template</title>

    <link rel="icon" href="{% static 'img/core-img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script nonce="38db34de-c43d-44c6-9f85-c5f886fd4a94">(function (w, d) {
        !function (dK, dL, dM, dN) {
            dK[dM] = dK[dM] || {};
            dK[dM].executed = [];
            dK.zaraz = {deferred: [], listeners: []};
            dK.zaraz.q = [];
            dK.zaraz._f = function (dO) {
                return function () {
                    var dP = Array.prototype.slice.call(arguments);
                    dK.zaraz.q.push({m: dO, a: dP})
                }
            };
            for (const dQ of ["track", "set", "debug"]) dK.zaraz[dQ] = dK.zaraz._f(dQ);
            dK.zaraz.init = () => {
                var dR = dL.getElementsByTagName(dN)[0], dS = dL.createElement(dN),
                    dT = dL.getElementsByTagName("title")[0];
                dT && (dK[dM].t = dL.getElementsByTagName("title")[0].text);
                dK[dM].x = Math.random();
                dK[dM].w = dK.screen.width;
                dK[dM].h = dK.screen.height;
                dK[dM].j = dK.innerHeight;
                dK[dM].e = dK.innerWidth;
                dK[dM].l = dK.location.href;
                dK[dM].r = dL.referrer;
                dK[dM].k = dK.screen.colorDepth;
                dK[dM].n = dL.characterSet;
                dK[dM].o = (new Date).getTimezoneOffset();
                if (dK.dataLayer) for (const dX of Object.entries(Object.entries(dataLayer).reduce(((dY, dZ) => ({...dY[1], ...dZ[1]})), {}))) zaraz.set(dX[0], dX[1], {scope: "page"});
                dK[dM].q = [];
                for (; dK.zaraz.q.length;) {
                    const d_ = dK.zaraz.q.shift();
                    dK[dM].q.push(d_)
                }
                dS.defer = !0;
                for (const ea of [localStorage, sessionStorage]) Object.keys(ea || {}).filter((ec => ec.startsWith("_zaraz_"))).forEach((eb => {
                    try {
                        dK[dM]["z_" + eb.slice(7)] = JSON.parse(ea.getItem(eb))
                    } catch {
                        dK[dM]["z_" + eb.slice(7)] = ea.getItem(eb)
                    }
                }));
                dS.referrerPolicy = "origin";
                dS.src = "https://preview.colorlib.com/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(dK[dM])));
                dR.parentNode.insertBefore(dS, dR)
            };
            ["complete", "interactive"].includes(dL.readyState) ? zaraz.init() : dK.addEventListener("DOMContentLoaded", zaraz.init)
        }(w, d, "zarazData", "script");
    })(window, document);</script>
</head>
<body>

<div id="preloader">
    <div class="loader"></div>
</div>

{% include 'header.html' %}

{% for message in messages %}
    {% if 'success' in message.tags %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% elif 'info' in message.tags %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% elif 'warning' in message.tags %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% elif 'error' in message.tags %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}


{% block content %}


{% endblock %}

<section class="roberto-cta-area">
    <div class="container">
        <div class="cta-content bg-img bg-overlay jarallax"
             style="background-image: url({% static 'img/bg-img/1.jpg' %});">
            <div class="row align-items-center">
                <div class="col-12 col-md-7">
                    <div class="cta-text mb-50">
                        <h2>Contact us now!</h2>
                        <h6>Contact (+12) 345-678-9999 to book directly or for advice</h6>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-right">
                    <a href="#" class="btn roberto-btn mb-50">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="partner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp"
                     data-wow-delay="300ms">

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p1.png' %}" alt=""></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p2.png' %}" alt=""></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p3.png' %}" alt=""></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p4.png' %}" alt=""></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p5.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}


<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/roberto.bundle.js' %}"></script>

<script src="{% static 'js/default-assets/active.js' %}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
        integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
        data-cf-beacon='{"rayId":"7db5547a694904ff","version":"2023.4.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>